<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ace0d31f-ecd1-42ba-92ac-28e7ee5ee18c" Alias="node" Level="1">
  <Info>
    <Name>Node</Name>
    <Icon>icon-burn</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>c0dbd177-bb5c-4471-8034-9483803773cd</Key>
      <Name>UmbNav</Name>
      <Alias>umbNav</Alias>
      <Definition>4ac4fc3a-7e48-447c-9910-17e0186e4944</Definition>
      <Type>Umbraco.Community.UmbNav</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="umbNav">UmbNav</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>true</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>cf1e9e15-892b-4b17-b6e9-fa0a55018eeb</Key>
      <Name>UmbNav Single Level</Name>
      <Alias>umbNavSingleLevel</Alias>
      <Definition>602b6320-bc76-40f6-b14b-c69144a6ad75</Definition>
      <Type>Umbraco.Community.UmbNav</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="umbNavSingleLevel">UmbNav Single Level</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>1f62ce56-2d70-4727-98f9-707f20756b50</Key>
      <Name>UmbNav Two Levels</Name>
      <Alias>umbNavTwoLevels</Alias>
      <Definition>f5207bd0-f217-43c1-a966-6314e51bfff0</Definition>
      <Type>Umbraco.Community.UmbNav</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="umbNav2Levels">UmbNav 2 Levels</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>0c0ae512-b736-4ba6-a22a-1acc2683a799</Key>
      <Caption>UmbNav 2 Levels</Caption>
      <Alias>umbNav2Levels</Alias>
      <Type>Group</Type>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Key>0c210dfb-6fbc-4623-877d-881a160f7e21</Key>
      <Caption>UmbNav</Caption>
      <Alias>umbNav</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>44ed4a02-b948-4bd9-8ffd-4c257cda8840</Key>
      <Caption>UmbNav Single Level</Caption>
      <Alias>umbNavSingleLevel</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>