<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="00ff4561-d315-4732-b94a-0505e4c65411" Alias="node1" Level="1">
  <Info>
    <Name>Node Single</Name>
    <Icon>icon-burn</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>f7366c8f-b1e5-4d64-8bb4-a7da81019469</Key>
      <Name>UmbNav Two Levels</Name>
      <Alias>umbNavTwoLevels</Alias>
      <Definition>f5207bd0-f217-43c1-a966-6314e51bfff0</Definition>
      <Type>Umbraco.Community.UmbNav</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="umbNav2Levels">UmbNav 2 Levels</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>a907ff44-d84e-496e-aa1a-3cb7772c913e</Key>
      <Caption>UmbNav 2 Levels</Caption>
      <Alias>umbNav2Levels</Alias>
      <Type>Group</Type>
      <SortOrder>2</SortOrder>
    </Tab>
  </Tabs>
</ContentType>