<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="d1f1a1ee-78ef-4604-a681-124a94e3d888" Alias="node12" Level="1">
  <Info>
    <Name>Node Required</Name>
    <Icon>icon-burn</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>ae586ef6-2501-4a13-a695-6503faf78709</Key>
      <Name>UmbNav</Name>
      <Alias>umbNav</Alias>
      <Definition>602b6320-bc76-40f6-b14b-c69144a6ad75</Definition>
      <Type>Umbraco.Community.UmbNav</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="umbNavSingleLevel">UmbNav Single Level</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>9af23241-7e4c-4206-971c-33127121dfc7</Key>
      <Caption>UmbNav Single Level</Caption>
      <Alias>umbNavSingleLevel</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>