<?xml version="1.0" encoding="utf-8"?>
<Content Key="24565ed5-ca82-4089-ae19-66d49bd32b5b" Alias="Link Item with Link Children" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/LinkItemWithLinkChildren</Path>
    <Trashed>false</Trashed>
    <ContentType>node</ContentType>
    <CreateDate>2026-01-02T14:50:16</CreateDate>
    <NodeName Default="Link Item with Link Children" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <umbNav>
      <Value><![CDATA[[
  {
    "key": "645f07f0-512b-4c23-91a6-412835ed49ab",
    "name": "Home 5",
    "url": "/us/",
    "icon": "icon-home color-black",
    "itemType": "document",
    "target": "",
    "published": true,
    "udi": "umb://document/645f07f0512b4c2391a6412835ed49ab",
    "contentKey": "ca4249ed-2b23-4337-b522-63cabe5587d1",
    "anchor": "",
    "description": "/us/",
    "customClasses": "",
    "hideLoggedIn": false,
    "hideLoggedOut": false,
    "noreferrer": "",
    "noopener": "",
    "image": [],
    "children": [
      {
        "key": "2e7fb84d-e035-4351-b99d-11bf52f01e6d",
        "name": "Home 5",
        "url": "/us/",
        "icon": "icon-home color-black",
        "itemType": "document",
        "target": "",
        "published": true,
        "udi": "umb://document/2e7fb84de0354351b99d11bf52f01e6d",
        "contentKey": "ca4249ed-2b23-4337-b522-63cabe5587d1",
        "anchor": "",
        "description": "/us/",
        "customClasses": "",
        "hideLoggedIn": false,
        "hideLoggedOut": false,
        "noreferrer": "",
        "noopener": "",
        "image": [],
        "children": [],
        "depth": 2
      },
      {
        "key": "6570aa59-2650-4ead-89b5-ec0aee207988",
        "name": "Products 2",
        "url": "/us/products-2/",
        "icon": "icon-shopping-basket color-black",
        "itemType": "document",
        "target": "",
        "published": true,
        "udi": "umb://document/6570aa5926504ead89b5ec0aee207988",
        "contentKey": "ec4aafcc-0c25-4f25-a8fe-705bfae1d324",
        "anchor": "",
        "description": "/us/products-2/",
        "customClasses": "",
        "hideLoggedIn": false,
        "hideLoggedOut": false,
        "noreferrer": "",
        "noopener": "",
        "image": [],
        "children": [],
        "depth": 2
      },
      {
        "key": "7f2f4ea5-93b2-4742-8111-0462d365fedc",
        "name": "About Us 2",
        "url": "/us/about-us-2/",
        "icon": "icon-document",
        "itemType": "document",
        "target": "",
        "published": true,
        "udi": "umb://document/7f2f4ea593b2474281110462d365fedc",
        "contentKey": "3cce2545-e3ac-44ec-bf55-a52cc5965db3",
        "anchor": "",
        "description": "/us/about-us-2/",
        "customClasses": "",
        "hideLoggedIn": false,
        "hideLoggedOut": false,
        "noreferrer": "",
        "noopener": "",
        "image": [],
        "children": [],
        "depth": 2
      },
      {
        "key": "49914159-5e0d-46a1-b04b-411691616b8c",
        "name": "People",
        "url": "/us/people/",
        "icon": "icon-user-females-alt color-black",
        "itemType": "document",
        "target": "",
        "published": true,
        "udi": "umb://document/499141595e0d46a1b04b411691616b8c",
        "contentKey": "e8ad9b65-cff6-4952-ac5b-efe56a60db62",
        "anchor": "",
        "description": "/us/people/",
        "customClasses": "",
        "hideLoggedIn": false,
        "hideLoggedOut": false,
        "noreferrer": "",
        "noopener": "",
        "image": [],
        "children": [],
        "depth": 2
      },
      {
        "key": "62073f6d-bef0-4aa4-99a5-886e004a9d8b",
        "name": "Ravi Motha",
        "url": "/us/people/ravi-motha/",
        "icon": "icon-user-female color-black",
        "itemType": "document",
        "target": "",
        "published": true,
        "udi": "umb://document/62073f6dbef04aa499a5886e004a9d8b",
        "contentKey": "49ac6099-cf51-458b-b9a4-0c1f55dc7902",
        "anchor": "",
        "description": "/us/people/ravi-motha/",
        "customClasses": "",
        "hideLoggedIn": false,
        "hideLoggedOut": false,
        "noreferrer": "",
        "noopener": "",
        "image": [],
        "children": [],
        "depth": 2
      },
      {
        "key": "cd29a96c-8fb9-47f8-abfe-6899f2f998d8",
        "name": "Ping Pong Ball",
        "url": "/us/products-2/ping-pong-ball/",
        "icon": "icon-sweatshirt color-black",
        "itemType": "document",
        "target": "",
        "published": true,
        "udi": "umb://document/cd29a96c8fb947f8abfe6899f2f998d8",
        "contentKey": "d390a562-107d-4f02-8df7-57aa86bad752",
        "anchor": "",
        "description": "/us/products-2/ping-pong-ball/",
        "customClasses": "",
        "hideLoggedIn": false,
        "hideLoggedOut": false,
        "noreferrer": "",
        "noopener": "",
        "image": [],
        "children": [],
        "depth": 2
      }
    ],
    "depth": 1,
    "unique": "645f07f0-512b-4c23-91a6-412835ed49ab"
  }
]]]></Value>
    </umbNav>
  </Properties>
</Content>