<?xml version="1.0" encoding="utf-8"?>
<Content Key="57a95bbd-1c84-4eed-8fd4-560b9911ab8a" Alias="Node No Text Items" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/NodeNoTextItems</Path>
    <Trashed>false</Trashed>
    <ContentType>node11</ContentType>
    <CreateDate>2025-09-17T15:32:14</CreateDate>
    <NodeName Default="Node No Text Items" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <umbNav>
      <Value><![CDATA[]]></Value>
    </umbNav>
  </Properties>
</Content>