<?xml version="1.0" encoding="utf-8"?>
<Content Key="ca4249ed-2b23-4337-b522-63cabe5587d1" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2025-01-21T20:40:04</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="b62144fa-cb6f-4c09-aad4-5d8dc0cfc208">home</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "8afa6c10-e3c0-4944-bcd2-7838274b2a9f",
      "key": "71a47889-ee81-400b-80b9-f3aac5293e69",
      "udi": null,
      "values": [
        {
          "alias": "numberOfPosts",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "3"
        },
        {
          "alias": "startNode",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "umb://document/1d770f10d1ca4a269d68071e2c9f7ac1"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "71a47889-ee81-400b-80b9-f3aac5293e69",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "71a47889-ee81-400b-80b9-f3aac5293e69",
        "contentUdi": "umb://element/71a47889ee81400b80b9f3aac5293e69",
        "rowSpan": 1,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </bodyText>
    <colorTheme>
      <Value><![CDATA[earth]]></Value>
    </colorTheme>
    <font>
      <Value><![CDATA[serif]]></Value>
    </font>
    <footerAddress>
      <Value><![CDATA[Umbraco HQ - Unicorn Square - Buchwaldsgade 35, 2nd floor - 5000 Odense C - Denmark - +45 70 26 11 62]]></Value>
    </footerAddress>
    <footerCTACaption>
      <Value><![CDATA[Read All on the Blog]]></Value>
    </footerCTACaption>
    <FooterCtalink>
      <Value><![CDATA[umb://document/1d770f10d1ca4a269d68071e2c9f7ac1]]></Value>
    </FooterCtalink>
    <footerDescription>
      <Value><![CDATA[Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Vivamus suscipit tortor eget felis porttitor volutpat]]></Value>
    </footerDescription>
    <footerHeader>
      <Value><![CDATA[Umbraco Demo]]></Value>
    </footerHeader>
    <HeroBackgroundImage>
      <Value><![CDATA[[
  {
    "key": "9d043312-9249-491a-9a8e-58a0aa2e5535",
    "mediaKey": "662af6ca-411a-4c93-a6c7-22c4845698e7",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </HeroBackgroundImage>
    <heroCTACaption>
      <Value><![CDATA[Check our products]]></Value>
    </heroCTACaption>
    <HeroCtalink>
      <Value><![CDATA[umb://document/ec4aafcc0c254f25a8fe705bfae1d324]]></Value>
    </HeroCtalink>
    <heroDescription>
      <Value><![CDATA[Moonfish, steelhead, lamprey southern flounder tadpole fish sculpin bigeye, blue-redstripe danio collared dogfish. Smalleye squaretail goldfish arowana butterflyfish pipefish wolf-herring jewel tetra, shiner; gibberfish red velvetfish. Thornyhead yellowfin pike threadsail ayu cutlassfish.]]></Value>
    </heroDescription>
    <heroHeader>
      <Value><![CDATA[Umbraco Demo]]></Value>
    </heroHeader>
    <mainNavigation>
      <Value><![CDATA[[
  {
    "key": "ecbe9ffe-9e24-4fdc-aca6-05362b9b3282",
    "name": "Home",
    "url": "https://localhost:44366/",
    "icon": "icon-home color-black",
    "itemType": "document",
    "target": "",
    "published": true,
    "udi": "umb://document/ecbe9ffe9e244fdcaca605362b9b3282",
    "contentKey": "ca4249ed-2b23-4337-b522-63cabe5587d1",
    "anchor": "",
    "description": "https://localhost:44366/",
    "children": []
  },
  {
    "key": "6f805f83-abb0-412b-a6de-3808a4dd8ce9",
    "name": "Products",
    "url": "https://localhost:44366/products",
    "icon": "icon-shopping-basket color-black",
    "itemType": "document",
    "target": "",
    "published": true,
    "udi": "umb://document/6f805f83abb0412ba6de3808a4dd8ce9",
    "contentKey": "ec4aafcc-0c25-4f25-a8fe-705bfae1d324",
    "anchor": "",
    "description": "https://localhost:44366/products",
    "children": []
  },
  {
    "key": "5dd359b6-3cfc-403c-8eb7-0ab75554fd2c",
    "name": "People",
    "url": "https://localhost:44366/people",
    "icon": "icon-user-females-alt color-black",
    "itemType": "document",
    "target": "",
    "published": true,
    "udi": "umb://document/5dd359b63cfc403c8eb70ab75554fd2c",
    "contentKey": "e8ad9b65-cff6-4952-ac5b-efe56a60db62",
    "anchor": "",
    "description": "https://localhost:44366/people",
    "children": []
  },
  {
    "key": "b811c3bd-5644-41a6-8787-8560302d32e8",
    "name": "About Us",
    "url": "https://localhost:44366/about-us",
    "icon": "icon-document",
    "itemType": "document",
    "target": "",
    "published": true,
    "udi": "umb://document/b811c3bd564441a687878560302d32e8",
    "contentKey": "3cce2545-e3ac-44ec-bf55-a52cc5965db3",
    "anchor": "",
    "description": "https://localhost:44366/about-us",
    "children": []
  },
  {
    "key": "d1912ede-e9a6-4258-aaef-1825ec5a3a45",
    "name": "Blog",
    "url": "https://localhost:44366/blog",
    "icon": "icon-calendar-alt color-black",
    "itemType": "document",
    "target": "",
    "published": true,
    "udi": "umb://document/d1912edee9a64258aaef1825ec5a3a45",
    "contentKey": "1d770f10-d1ca-4a26-9d68-071e2c9f7ac1",
    "anchor": "",
    "description": "https://localhost:44366/blog",
    "children": []
  },
  {
    "key": "f48abf74-7d28-4561-ade8-3eb34ddbbb95",
    "name": "Contact",
    "url": "https://localhost:44366/contact",
    "icon": "icon-map-location color-black",
    "itemType": "document",
    "target": "",
    "published": true,
    "udi": "umb://document/f48abf747d284561ade83eb34ddbbb95",
    "contentKey": "4a1f4198-e143-48ba-a0f5-1a7ef2df23aa",
    "anchor": "",
    "description": "https://localhost:44366/contact",
    "children": []
  }
]]]></Value>
    </mainNavigation>
    <SiteLogo>
      <Value><![CDATA[]]></Value>
    </SiteLogo>
    <sitename>
      <Value><![CDATA[Umbraco Sample Site]]></Value>
    </sitename>
  </Properties>
</Content>