<?xml version="1.0" encoding="utf-8"?>
<Content Key="3f73ba79-a933-4b72-a0a3-e39e5ed94b88" Alias="Node" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Node</Path>
    <Trashed>false</Trashed>
    <ContentType>node</ContentType>
    <CreateDate>2024-08-08T10:07:08</CreateDate>
    <NodeName Default="Node" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <umbNav>
      <Value><![CDATA[[
  {
    "key": "69818990cab84f6daf2b17039e5603ee",
    "name": "Text Menu Item",
    "url": null,
    "icon": "icon-tag",
    "itemType": "title",
    "udi": null,
    "contentKey": null,
    "anchor": null,
    "published": true,
    "children": []
  },
  {
    "key": "e41ca55e66484981840e75cb3c234462",
    "name": "Text Menu Item 2",
    "url": null,
    "icon": "icon-tag",
    "itemType": "title",
    "udi": null,
    "anchor": null,
    "published": true,
    "children": [
      {
        "key": "10f66da2-2bcb-435c-b482-8998c4475b29",
        "name": "test",
        "url": "/media/nhgiqerk/screenshot-2024-10-11-161524.png",
        "icon": "icon-picture",
        "itemType": "media",
        "target": "",
        "published": true,
        "udi": "umb://document/10f66da22bcb435cb4828998c4475b29",
        "contentKey": "a4ce06e6-3543-4d81-9294-3af67759be4a",
        "anchor": "",
        "description": "/media/nhgiqerk/screenshot-2024-10-11-161524.png",
        "children": []
      }
    ]
  },
  {
    "key": "26cff4fc-0815-414a-a31c-3e89d4ccd509",
    "name": "About Us",
    "url": null,
    "icon": "icon-document",
    "itemType": "document",
    "target": "",
    "published": true,
    "udi": "umb://document/26cff4fc0815414aa31c3e89d4ccd509",
    "contentKey": "3cce2545-e3ac-44ec-bf55-a52cc5965db3",
    "anchor": "",
    "description": null,
    "children": [],
    "unique": "26cff4fc-0815-414a-a31c-3e89d4ccd509"
  },
  {
    "key": "b35b7c9f-2822-45dc-8438-17785bd491d1",
    "name": "Google2",
    "url": "https://google.com",
    "icon": "icon-link",
    "itemType": "external",
    "target": "",
    "published": true,
    "udi": "",
    "contentKey": "b35b7c9f-2822-45dc-8438-17785bd491d1",
    "anchor": "",
    "description": "https://google.com",
    "children": []
  }
]]]></Value>
    </umbNav>
  </Properties>
</Content>