<?xml version="1.0" encoding="utf-8"?>
<Content Key="714f57c9-f487-483c-95f7-8247badb9d5f" Alias="Node Single" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/NodeSingle</Path>
    <Trashed>false</Trashed>
    <ContentType>node1</ContentType>
    <CreateDate>2025-09-05T15:53:52</CreateDate>
    <NodeName Default="Node Single" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <umbNavTwoLevels>
      <Value><![CDATA[[
  {
    "key": "ff6d0a13-7c87-4e80-a942-ea3d6989d59d",
    "name": "Node",
    "url": "/node/",
    "icon": "icon-burn",
    "itemType": "document",
    "target": "",
    "published": true,
    "udi": "umb://document/ff6d0a137c874e80a942ea3d6989d59d",
    "contentKey": "3f73ba79-a933-4b72-a0a3-e39e5ed94b88",
    "anchor": "",
    "description": "/node/",
    "customClasses": "",
    "hideLoggedIn": false,
    "hideLoggedOut": false,
    "noreferrer": "",
    "noopener": "",
    "image": [],
    "children": [],
    "depth": 1
  }
]]]></Value>
    </umbNavTwoLevels>
  </Properties>
</Content>