<?xml version="1.0" encoding="utf-8"?>
<Content Key="3f73ba79-a933-4b72-a0a3-e39e5ed94b88" Alias="Node" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Node</Path>
    <Trashed>false</Trashed>
    <ContentType>node</ContentType>
    <CreateDate>2024-08-08T10:07:08</CreateDate>
    <NodeName Default="Node" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <umbNav>
      <Value><![CDATA[[
  {
    "key": "542ba0d1-56f6-4068-8205-4fa09cf3b3ba",
    "name": "Home",
    "url": "/",
    "icon": "icon-home color-black",
    "itemType": "document",
    "target": "",
    "published": true,
    "udi": "umb://document/542ba0d156f6406882054fa09cf3b3ba",
    "contentKey": "ca4249ed-2b23-4337-b522-63cabe5587d1",
    "anchor": "",
    "description": "/",
    "customClasses": "",
    "hideLoggedIn": false,
    "hideLoggedOut": false,
    "noReferrer": false,
    "noOpener": false,
    "image": [],
    "children": [],
    "unique": "542ba0d1-56f6-4068-8205-4fa09cf3b3ba"
  },
  {
    "key": "af7dd2da-02a3-44bd-b342-62b2b9b65f87",
    "name": "About Us",
    "url": "/about-us/",
    "icon": "icon-document",
    "itemType": "document",
    "target": "",
    "published": true,
    "udi": "umb://document/af7dd2da02a344bdb34262b2b9b65f87",
    "contentKey": "3cce2545-e3ac-44ec-bf55-a52cc5965db3",
    "anchor": "",
    "description": "/about-us/",
    "customClasses": "",
    "hideLoggedIn": false,
    "hideLoggedOut": false,
    "noReferrer": false,
    "noOpener": false,
    "image": [],
    "children": [],
    "unique": "af7dd2da-02a3-44bd-b342-62b2b9b65f87",
    "noreferrer": "",
    "noopener": "",
    "includeChildNodes": true
  },
  {
    "key": "ca2d4456-1d08-4e13-b5b9-0ddcc61a2fd3",
    "url": "",
    "itemType": "document",
    "target": "",
    "published": true,
    "udi": "umb://document/ca2d44561d084e13b5b90ddcc61a2fd3",
    "contentKey": "3f73ba79-a933-4b72-a0a3-e39e5ed94b88",
    "anchor": "",
    "customClasses": "",
    "hideLoggedIn": false,
    "hideLoggedOut": false,
    "noReferrer": false,
    "noOpener": false,
    "image": [],
    "children": [],
    "unique": "ca2d4456-1d08-4e13-b5b9-0ddcc61a2fd3"
  },
  {
    "key": "38d4137b-dc1d-4a80-a746-c63ea80f763d",
    "url": "/people/",
    "itemType": "document",
    "target": "",
    "published": true,
    "udi": "umb://document/38d4137bdc1d4a80a746c63ea80f763d",
    "contentKey": "e8ad9b65-cff6-4952-ac5b-efe56a60db62",
    "anchor": "",
    "customClasses": "",
    "hideLoggedIn": false,
    "hideLoggedOut": false,
    "noReferrer": false,
    "noOpener": false,
    "image": [],
    "children": [],
    "unique": "38d4137b-dc1d-4a80-a746-c63ea80f763d"
  },
  {
    "key": "1339d42c-0a3c-4643-b1bc-146823282893",
    "url": "/media/nhgiqerk/screenshot-2024-10-11-161524.png",
    "itemType": "media",
    "target": "",
    "published": true,
    "udi": "umb://media/1339d42c0a3c4643b1bc146823282893",
    "contentKey": "a4ce06e6-3543-4d81-9294-3af67759be4a",
    "anchor": "",
    "customClasses": "",
    "hideLoggedIn": false,
    "hideLoggedOut": false,
    "noReferrer": false,
    "noOpener": false,
    "image": [],
    "children": [],
    "unique": "1339d42c-0a3c-4643-b1bc-146823282893"
  }
]]]></Value>
    </umbNav>
  </Properties>
</Content>