<?xml version="1.0" encoding="utf-8"?>
<Content Key="714f57c9-f487-483c-95f7-8247badb9d5f" Alias="Node Single" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/NodeSingle</Path>
    <Trashed>false</Trashed>
    <ContentType>node1</ContentType>
    <CreateDate>2025-09-05T15:53:52</CreateDate>
    <NodeName Default="Node Single" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <umbNav>
      <Value><![CDATA[]]></Value>
    </umbNav>
  </Properties>
</Content>