<?xml version="1.0" encoding="utf-8"?>
<DataType Key="602b6320-bc76-40f6-b14b-c69144a6ad75" Alias="UmbNav Single Level - UmbNav" Level="1">
  <Info>
    <Name>UmbNav Single Level - UmbNav</Name>
    <EditorAlias>Umbraco.Community.UmbNav</EditorAlias>
    <EditorUIAlias>Umbraco.Community.UmbNav</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "allowCustomClasses": false,
  "allowDisplay": false,
  "allowImageIcon": true,
  "enableTextItems": true,
  "enableToggleAllButton": true,
  "hideNoopener": false,
  "hideNoreferrer": false,
  "maxDepth": 1
}]]></Config>
</DataType>