<?xml version="1.0" encoding="utf-8"?>
<Content Key="ca4249ed-2b23-4337-b522-63cabe5587d1" Alias="Home 5" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home5</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2025-07-01T19:51:33</CreateDate>
    <NodeName Default="Home 5">
      <Name Culture="en-GB">Home (UK)</Name>
      <Name Culture="en-US">Home 5</Name>
      <Name Culture="es">Casa</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-GB">true</Published>
      <Published Culture="en-US">true</Published>
      <Published Culture="es">true</Published>
    </Published>
    <Schedule />
    <Template Key="ce847acd-a699-4588-8715-04ae7548d988">home</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "8afa6c10-e3c0-4944-bcd2-7838274b2a9f",
      "key": "71a47889-ee81-400b-80b9-f3aac5293e69",
      "udi": null,
      "values": [
        {
          "alias": "numberOfPosts",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "3"
        },
        {
          "alias": "startNode",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "umb://document/1d770f10d1ca4a269d68071e2c9f7ac1"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "71a47889-ee81-400b-80b9-f3aac5293e69",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "71a47889-ee81-400b-80b9-f3aac5293e69",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </bodyText>
    <colorTheme>
      <Value><![CDATA[earth]]></Value>
    </colorTheme>
    <font>
      <Value><![CDATA[serif]]></Value>
    </font>
    <footerAddress>
      <Value><![CDATA[Umbraco HQ - Unicorn Square - Buchwaldsgade 35, 2nd floor - 5000 Odense C - Denmark - +45 70 26 11 62]]></Value>
    </footerAddress>
    <footerCTACaption>
      <Value><![CDATA[Read All on the Blog]]></Value>
    </footerCTACaption>
    <FooterCtalink>
      <Value><![CDATA[umb://document/1d770f10d1ca4a269d68071e2c9f7ac1]]></Value>
    </FooterCtalink>
    <footerDescription>
      <Value><![CDATA[Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Vivamus suscipit tortor eget felis porttitor volutpat]]></Value>
    </footerDescription>
    <footerHeader>
      <Value><![CDATA[Umbraco Demo]]></Value>
    </footerHeader>
    <HeroBackgroundImage>
      <Value><![CDATA[[
  {
    "key": "9d043312-9249-491a-9a8e-58a0aa2e5535",
    "mediaKey": "662af6ca-411a-4c93-a6c7-22c4845698e7",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </HeroBackgroundImage>
    <heroCTACaption>
      <Value><![CDATA[Check our products]]></Value>
    </heroCTACaption>
    <HeroCtalink>
      <Value><![CDATA[umb://document/ec4aafcc0c254f25a8fe705bfae1d324]]></Value>
    </HeroCtalink>
    <heroDescription>
      <Value><![CDATA[Moonfish, steelhead, lamprey southern flounder tadpole fish sculpin bigeye, blue-redstripe danio collared dogfish. Smalleye squaretail goldfish arowana butterflyfish pipefish wolf-herring jewel tetra, shiner; gibberfish red velvetfish. Thornyhead yellowfin pike threadsail ayu cutlassfish.]]></Value>
    </heroDescription>
    <heroHeader>
      <Value><![CDATA[Umbraco Demo]]></Value>
    </heroHeader>
    <mainNavigation>
      <Value Culture="en-GB"><![CDATA[[
  {
    "key": "b662e8d0-affd-409c-aa09-e0e18f42d4ae",
    "name": "Home (UK)",
    "url": "/uk/",
    "icon": "icon-home color-black",
    "itemType": "document",
    "target": "",
    "published": true,
    "udi": "umb://document/b662e8d0affd409caa09e0e18f42d4ae",
    "contentKey": "ca4249ed-2b23-4337-b522-63cabe5587d1",
    "anchor": "",
    "description": "/uk/",
    "customClasses": "",
    "hideLoggedIn": false,
    "hideLoggedOut": false,
    "noreferrer": "",
    "noopener": "",
    "image": [],
    "children": []
  }
]]]></Value>
      <Value Culture="en-US"><![CDATA[[
  {
    "key": "95aae861-0116-42b4-95cf-635e3923858b",
    "name": "Home 3",
    "url": "/us/",
    "icon": "icon-home color-black",
    "itemType": "Document",
    "target": "",
    "published": true,
    "udi": "umb://document/95aae861011642b495cf635e3923858b",
    "contentKey": "ca4249ed-2b23-4337-b522-63cabe5587d1",
    "anchor": "",
    "description": "/us/",
    "customClasses": "",
    "hideLoggedIn": false,
    "hideLoggedOut": false,
    "noreferrer": "",
    "noopener": "",
    "image": [
      {
        "key": "a4ce06e6-3543-4d81-9294-3af67759be4a",
        "udi": "umb://media/a4ce06e635434d8192943af67759be4a"
      }
    ],
    "children": [],
    "unique": "95aae861-0116-42b4-95cf-635e3923858b",
    "includeChildNodes": true,
    "depth": 1
  },
  {
    "key": "3dccde9a-d2bd-48c3-90af-57f79331bb4e",
    "name": "Products 3",
    "url": "/us/products-3/",
    "icon": "icon-shopping-basket color-black",
    "itemType": "Document",
    "target": "",
    "published": true,
    "udi": "umb://document/3dccde9ad2bd48c390af57f79331bb4e",
    "contentKey": "ec4aafcc-0c25-4f25-a8fe-705bfae1d324",
    "anchor": "",
    "description": "/us/products-3/",
    "customClasses": "",
    "hideLoggedIn": false,
    "hideLoggedOut": false,
    "noreferrer": "",
    "noopener": "",
    "image": [],
    "children": [],
    "depth": 1,
    "unique": "3dccde9a-d2bd-48c3-90af-57f79331bb4e"
  },
  {
    "key": "abd58bb4-8a37-4753-a5ab-92c463e86f13",
    "name": "my.umbhost.net",
    "url": "https://my.umbhost.net/submitticket.php",
    "icon": "icon-link",
    "itemType": "external",
    "target": "",
    "published": true,
    "udi": "",
    "contentKey": null,
    "anchor": "",
    "description": "https://my.umbhost.net/submitticket.php",
    "customClasses": "",
    "hideLoggedIn": false,
    "hideLoggedOut": false,
    "noreferrer": "",
    "noopener": "",
    "image": [],
    "children": [],
    "depth": 1
  },
  {
    "key": "1e672df8-e1a5-4281-b176-729aaa7036bf",
    "name": null,
    "url": "/us/",
    "icon": "icon-home color-black",
    "itemType": "Document",
    "target": "",
    "published": true,
    "udi": "umb://document/1e672df8e1a54281b176729aaa7036bf",
    "contentKey": "ca4249ed-2b23-4337-b522-63cabe5587d1",
    "anchor": "",
    "description": "/us/",
    "customClasses": "",
    "hideLoggedIn": false,
    "hideLoggedOut": false,
    "noreferrer": "",
    "noopener": "",
    "image": [],
    "children": [],
    "depth": 1,
    "unique": "1e672df8-e1a5-4281-b176-729aaa7036bf"
  },
  {
    "key": "e418157c-bd68-416c-80bf-dfc05d611fe6",
    "name": "test",
    "url": "https://www.google.com",
    "icon": "icon-link",
    "itemType": "external",
    "target": "",
    "published": false,
    "udi": "",
    "contentKey": null,
    "anchor": "",
    "description": "https://www.google.com",
    "customClasses": "",
    "hideLoggedIn": false,
    "hideLoggedOut": false,
    "noreferrer": "",
    "noopener": "",
    "image": [],
    "children": [],
    "depth": 1
  },
  {
    "key": "178a9023-c8bc-4a41-8dfb-ede44b0e817e",
    "name": "Home 5 cccc",
    "url": "/us/",
    "icon": "icon-home color-black",
    "itemType": "Document",
    "target": "",
    "published": true,
    "udi": "umb://document/178a9023c8bc4a418dfbede44b0e817e",
    "contentKey": "ca4249ed-2b23-4337-b522-63cabe5587d1",
    "anchor": "",
    "description": "/us/",
    "customClasses": "",
    "hideLoggedIn": false,
    "hideLoggedOut": false,
    "noreferrer": "",
    "noopener": "",
    "image": [],
    "children": [
      {
        "key": "ce760fcd-89f2-4e3d-8dc3-00e4450640c6",
        "name": "People",
        "url": "/us/people/",
        "icon": "icon-user-females-alt color-black",
        "itemType": "Document",
        "target": "",
        "published": true,
        "udi": "umb://document/ce760fcd89f24e3d8dc300e4450640c6",
        "contentKey": "e8ad9b65-cff6-4952-ac5b-efe56a60db62",
        "anchor": "",
        "customClasses": "",
        "hideLoggedIn": false,
        "hideLoggedOut": false,
        "noreferrer": "",
        "noopener": "",
        "image": [],
        "children": [],
        "depth": 2,
        "unique": "ce760fcd-89f2-4e3d-8dc3-00e4450640c6"
      }
    ],
    "depth": 1,
    "unique": "178a9023-c8bc-4a41-8dfb-ede44b0e817e"
  },
  {
    "key": "fba1329c-1dcf-4606-b090-e473d33cddf4",
    "name": "---",
    "icon": "icon-navigation-horizontal",
    "itemType": "divider",
    "url": null,
    "udi": null,
    "contentKey": null,
    "anchor": null,
    "published": null,
    "target": null,
    "customClasses": null,
    "description": null,
    "hideLoggedIn": false,
    "hideLoggedOut": false,
    "includeChildNodes": false,
    "noopener": null,
    "noreferrer": null,
    "image": [],
    "children": [],
    "allowChildren": false,
    "depth": 1
  }
]]]></Value>
      <Value Culture="es"><![CDATA[[
  {
    "key": "241a9e86-5ed2-4a3c-bb1f-d32af65de2f5",
    "name": "Acerca de",
    "url": "/us/about-us-2/",
    "icon": "icon-document",
    "itemType": "Document",
    "target": "",
    "published": true,
    "udi": "umb://document/241a9e865ed24a3cbb1fd32af65de2f5",
    "contentKey": "3cce2545-e3ac-44ec-bf55-a52cc5965db3",
    "anchor": "",
    "customClasses": "",
    "hideLoggedIn": false,
    "hideLoggedOut": false,
    "noreferrer": "",
    "noopener": "",
    "image": [],
    "children": [],
    "depth": 1
  }
]]]></Value>
    </mainNavigation>
    <multiUrlPicker>
      <Value><![CDATA[[
  {
    "name": "Home 2",
    "target": null,
    "unique": null,
    "type": null,
    "udi": "umb://document/ca4249ed2b234337b52263cabe5587d1",
    "url": null,
    "queryString": null
  },
  {
    "name": "Products",
    "target": null,
    "unique": null,
    "type": null,
    "udi": "umb://document/ec4aafcc0c254f25a8fe705bfae1d324",
    "url": null,
    "queryString": null
  }
]]]></Value>
    </multiUrlPicker>
    <SiteLogo>
      <Value><![CDATA[]]></Value>
    </SiteLogo>
    <sitename>
      <Value><![CDATA[Umbraco Sample Site]]></Value>
    </sitename>
  </Properties>
</Content>