<?xml version="1.0" encoding="utf-8"?>
<Content Key="339793f9-08b4-4286-97a7-3602218c3923" Alias="Node 2" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Node2</Path>
    <Trashed>false</Trashed>
    <ContentType>node</ContentType>
    <CreateDate>2025-09-05T12:22:33</CreateDate>
    <NodeName Default="Node 2" />
    <SortOrder>2</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <umbNav>
      <Value><![CDATA[]]></Value>
    </umbNav>
  </Properties>
</Content>